### Name: Bùi Phương Thảo
### ID: 11215341
### Class: DSEB 63

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\KyThuat88\Downloads\autos.csv",encoding = "Latin")
data.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

#### 1. Dùng lệnh data.info() để hiển thị ra data type của tất cả các attributes (features). Dựa vào kết quả hãy chỉ ra các bước chúng ta cần xử lý dữ liệu

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19714 entries, 0 to 19713
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          19714 non-null  object
 1   name                 19714 non-null  object
 2   seller               19714 non-null  object
 3   offerType            19714 non-null  object
 4   price                19714 non-null  object
 5   abtest               19714 non-null  object
 6   vehicleType          17692 non-null  object
 7   yearOfRegistration   19714 non-null  int64
 8   gearbox              18646 non-null  object
 9   powerPS              19714 non-null  int64
 10  model                18632 non-null  object
 11  odometer             19714 non-null  object
 12  monthOfRegistration  19714 non-null  int64
 13  fuelType             17989 non-null  object
 14  brand                19714 non-null  object
 15  notRepairedDamage    15817 non-null  object
 16  dateCreated          19714 non-null  object
 17  nrOfPictures         19714 non-null  int64
 18  postalCode           19714 non-null  int64
 19  lastSeen             19714 non-null  object
dtypes: int64(5), object(15)
memory usage: 3.0+ MB

CÁC BƯỚC XỬ LÝ DATA:
- IDENTIFY THEN DROP CÁC CỘT CHỈ CHỨA 1 GIÁ TRỊ DUY NHẤT
- IDENTIFY CÁC CỘT CÓ NON-NULL VALUES < DF.SHAPE[0] --> TÌM CÁCH FILL CÁC DATA BỊ MISSED

#### 2. Đổi tên cột từ định dạng camelcase sang snakecase. Ví dụ: dateCrawled ->date_crawled. Gợi ý: dùng df.columns

In [4]:
data.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
def snake(name):
    new = ''
    for i in name:
        if i.isupper():
            new += '_'+i.lower()
        else:
            new += i
    return new

In [6]:
data.columns = [snake(col) for col in data.columns]

In [7]:
data.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,year_of_registration,gearbox,power_p_s,model,odometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

#### 3. Trong bước data cleaning, em sẽ xóa đi các cột nào? Giải thích

In [11]:
h = data.nunique()
h

date_crawled             19416
name                     16640
seller                       2
offer_type                   2
price                     1541
abtest                       2
vehicle_type                 8
year_of_registration        78
gearbox                      2
power_p_s                  365
model                      241
odometer                    13
month_of_registration       13
fuel_type                    7
brand                       40
not_repaired_damage          2
date_created                56
nr_of_pictures               1
postal_code               5638
last_seen                17664
dtype: int64

#### xóa cột nr_of_pictures vì nó chỉ chứa một giá trị duy nhất

#### 4. Có giá trị missing nào không? Feature nào chứa giá trị missing? Loại missing là gì? Cho biết số lượng giá trị missing ở mỗi feature là bao nhiêu.

In [12]:
data.isnull().sum()

date_crawled                0
name                        0
seller                      0
offer_type                  0
price                       0
abtest                      0
vehicle_type             2022
year_of_registration        0
gearbox                  1068
power_p_s                   0
model                    1082
odometer                    0
month_of_registration       0
fuel_type                1725
brand                       0
not_repaired_damage      3897
date_created                0
nr_of_pictures              0
postal_code                 0
last_seen                   0
dtype: int64

#### --> Các feature chứa missing value là vehicle_type, gearbox, model, fuel_type, not_repaired_damge với số lượng như trên

#### 5. Attribute “model” chứa rất nhiều giá trị phân biệt (characteristics/unique values), tuy nhiên rất nhiều giá trị có số lượng quan sát rất ít. Gom nhóm tất cả các giá trị có số lượng quan sát chiếm tỷ lệ <=0.1% về 1 nhóm gọi tên là OTHER

In [10]:
#other = [data['model'][i] for i in data['model'].index if data['model'].value_counts(dropna=False)[data['model'][i]] / data.shape[0] <= 0.001]

In [11]:
#other

In [13]:
other1 = [ind for ind in data['model'].value_counts().index if data['model'].value_counts(dropna=False)[ind] / data.shape[0] <= 0.001]

In [14]:
other1

['kaefer',
 'bravo',
 'altea',
 'q7',
 'aygo',
 'santa',
 'c1',
 'rav',
 'm_reihe',
 'c_reihe',
 '850',
 'alhambra',
 'glk',
 'jetta',
 'getz',
 'carnival',
 'verso',
 'navara',
 'jazz',
 'spider',
 '159',
 'q3',
 'phaeton',
 'ceed',
 'tucson',
 'kuga',
 'captiva',
 'jimny',
 'auris',
 'clubman',
 'roomster',
 'lancer',
 'v50',
 'fusion',
 'v_klasse',
 'roadster',
 'legacy',
 'accord',
 'ptcruiser',
 'galant',
 '6er',
 'cherokee',
 's60',
 'toledo',
 'calibra',
 'ypsilon',
 'rio',
 'citigo',
 'rx_reihe',
 'modus',
 'yeti',
 'justy',
 'impreza',
 'duster',
 'note',
 'kalos',
 '900',
 'niva',
 'defender',
 'aveo',
 'spark',
 'cc',
 'discovery',
 'g_klasse',
 'terios',
 'sirion',
 'forester',
 'pajero',
 'outlander',
 'mii',
 'wrangler',
 'juke',
 '300c',
 'range_rover',
 'move',
 'crossfire',
 'delta',
 'antara',
 'gl',
 'cx_reihe',
 's_type',
 'amarok',
 'materia',
 'r19',
 'range_rover_sport',
 'exeo',
 'x_type',
 'lybra',
 '90',
 'nubira',
 'kalina',
 'lanos',
 '145',
 'lodgy',
 'kappa',
 'v60',
 'range_rover_evoque',
 'croma',
 'rangerover',
 '9000',
 'samara']

In [15]:
data[data['model'] == 'samara']

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,year_of_registration,gearbox,power_p_s,model,odometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,nr_of_pictures,postal_code,last_seen
14428,2016-03-20 00:56:02,LADA_2111__LPG_:Gas,privat,Angebot,$650,control,kombi,2007,manuell,0,samara,"125,000km",8,benzin,lada,NaN,2016-03-20 00:00:00,0,48165,2016-03-21 10:16:44

In [16]:
for name in other1:
    for i in data['model'].index:
        if data['model'][i] == name:
            data['model'] = data['model'].replace(data['model'][i],'OTHER')

In [17]:
data

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,year_of_registration,gearbox,power_p_s,model,odometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19709,2016-03-28 19:48:19,Opel_Corsa_1.2_Selection_klima,privat,Angebot,"$9,900",control,kleinwagen,2015,manuell,69,corsa,"5,000km",11,benzin,opel,nein,2016-03-28 00:00:00,0,64560,2016-04-07 02:16:59
19710,2016-03-14 17:50:26,Audi_A4_B5_Bj_97,privat,Angebot,$900,test,limousine,1997,manuell,165,a4,"150,000km",10,benzin,audi,nein,2016-03-14 00:00:00,0,57319,2016-03-16 08:45:11
19711,2016-03-15 19:57:28,BMW_520d_Touring,privat,Angebot,"$7,500",control,kombi,2008,manuell,177,5er,"150,000km",11,diesel,bmw,nein,2016-03-15 00:00:00,0,45968,2016-03-16 17:51:27
19712,2016-03-28 17:37:45,Fiat_Grande_Punto_1.2_8V_Active,privat,Angebot,"$2,950",test,kleinwagen,2007,manuell,65,andere,"80,000km",10,benzin,fiat,nein,2016-03-28 00:00:00,0,85391,2016-04-06 23:15:46
19713,2016-03-12 15:21:50,Fiat_Stilo_Unfallfahrzeug_Reserviert_bis_16.03,privat,Angebot,$200,control,kleinwagen,2002,manuell,103,stilo,"100,000km",1,benzin,fiat,ja,2016-03-11 00:00:00,0,57638,2

In [18]:
data[data['model'] == 'OTHER']

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,year_of_registration,gearbox,power_p_s,model,odometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,nr_of_pictures,postal_code,last_seen
37,2016-03-23 16:47:46,Seat_Altea_XL_2.0_TDI_CR_DPF_Style,privat,Angebot,"$13,800",test,bus,2012,manuell,140,OTHER,"90,000km",2,diesel,seat,nein,2016-03-23 00:00:00,0,85113,2016-04-05 20:17:53
67,2016-03-29 20:50:41,Jeep_Wrangler_YJ,privat,Angebot,"$4,800",test,suv,1992,manuell,121,OTHER,"150,000km",5,benzin,jeep,NaN,2016-03-29 00:00:00,0,46325,2016-04-06 07:17:12
68,2016-04-03 17:36:59,Mini_cooper_s_clubman_/vollausstattung_/_Navi/...,privat,Angebot,"$10,990",test,NaN,2017,manuell,174,OTHER,"100,000km",0,NaN,mini,nein,2016-04-03 00:00:00,0,83135,2016-04-05 17:26:26
125,2016-03-17 17:56:46,Seat_Altea_1_6,privat,Angebot,"$4,000",control,bus,2005,manuell,105,OTHER,"100,000km",11,benzin,seat,nein,2016-03-17 00:00:00,0,34474,2016-04-06 02:45:09
160,2016-03-31 02:36:24,BMW_M5_DKG,privat,Angebot,"$50,500",test,limousine,2012,automatik,560,OTHER,"100,000km",3,benzin,bmw,nein,2016-03-31 00:00:00,0,16225,2016-04-05 19:15:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19623,2016-03-20 07:54:56,AUDI_Q7_TOP_ZUSTAND.,privat,Angebot,"$23,000",control,kombi,2008,automatik,280,OTHER,"100,000km",11,benzin,audi,nein,2016-03-20 00:00:00,0,92318,2016-04-06 04:44:47
19644,2016-03-30 17:38:12,Subaru_Justy_1.3_AWD,privat,Angebot,$900,control,kleinwagen,2001,manuell,85,OTHER,"60,000km",9,benzin,subaru,NaN,2016-03-30 00:00:00,0,94249,2016-04-07 08:16:35
19653,2016-03-10 15:51:31,Toyota_Corolla_Verso_1_8_VVTI,privat,Angebot,"$3,250",test,bus,2003,automatik,135,OTHER,"150,000km",3,benzin,toyota,nein,2016-03-10 00:00:00,0,14641,2016-03-11 03:44:57
19697,2016-03-19 09:36:21,SMART_ROADSTER,privat,Angebot,"$3,950",test,cabrio,2006,automatik,82,OTHER,"150,000km",9,benzin,smart,NaN,2016-03-19 00:00:00,0,90599,2016-04-06 10:15:49
19708,2016-03-05 18:44:30,Dacia_Lodgy_TCe_115_Prestige,privat,Angebot,"$13,199",test,bus,2014,manuell,116,OTHER,"20,000km",7,benzin,dacia,nein,2016-03-05 00:00:00,0,99880,2016-03-12 02:16:56

#### 6. Tổng số lượng null nhiều nhất ở 1 dòng là bao nhiêu giá trị null? Tạo thêm 1 cột mới tính số lượng giá trị null tại mỗi dòng

In [19]:
data.isnull().sum(axis=1).max()

5

In [20]:
data['null_count'] = data.isnull().sum(axis=1)
data.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,year_of_registration,gearbox,power_p_s,...,odometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,nr_of_pictures,postal_code,last_seen,null_count
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,...,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54,0
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,...,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08,0
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,...,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37,0
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,...,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28,0
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,...,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50,0

In [21]:
data[data['null_count'] == 5]

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,year_of_registration,gearbox,power_p_s,...,odometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,nr_of_pictures,postal_code,last_seen,null_count
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,...,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01,5
92,2016-03-25 19:47:32,Zu_verkaufen,privat,Angebot,"$1,900",test,NaN,2000,NaN,0,...,"150,000km",0,NaN,bmw,NaN,2016-03-25 00:00:00,0,72108,2016-04-07 02:16:01,5
259,2016-04-03 23:49:58,guenstiges_Auto_/_auch_defekt,privat,Angebot,$0,control,NaN,2000,NaN,0,...,"5,000km",6,NaN,sonstige_autos,NaN,2016-04-03 00:00:00,0,89269,2016-04-06 07:16:22,5
283,2016-04-02 00:55:53,3_Fahrzeug_zu_Verkaufen,privat,Angebot,$500,test,NaN,2000,NaN,0,...,"100,000km",0,NaN,sonstige_autos,NaN,2016-04-01 00:00:00,0,89073,2016-04-06 04:16:23,5
301,2016-03-08 20:37:59,Kaufe_alle_Autos_bietet_an,privat,Angebot,$0,control,NaN,1990,NaN,0,...,"5,000km",0,NaN,sonstige_autos,NaN,2016-03-08 00:00:00,0,13589,2016-04-05 18:44:43,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19045,2016-03-14 19:56:50,SUCHE_Sprinter_zum_mieten_fuer_Umzug!,privat,Angebot,$50,control,NaN,2000,NaN,0,...,"100,000km",0,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,99974,2016-03-29 19:47:20,5
19342,2016-04-05 15:36:38,Ford_Focus_Diesel,privat,Angebot,"$2,500",control,NaN,2006,NaN,0,...,"150,000km",0,NaN,ford,NaN,2016-04-05 00:00:00,0,48624,2016-04-05 15:36:38,5
19425,2016-03-07 23:58:11,Ich_besorge_Ihnen_ihr_naechstes_Auto,privat,Angebot,$200,test,NaN,2015,NaN,0,...,"5,000km",0,NaN,sonstige_autos,NaN,2016-03-07 00:00:00,0,22549,2016-03-08 06:48:57,5
19562,2016-03-14 17:56:42,Suche_Passat__Golf_Variant_oder_Opel_Vectra_Ca...,privat,Angebot,$500,test,NaN,2000,NaN,0,...,"5,000km",0,NaN,opel,NaN,2016-03-14 00:00:00,0,77790,2016-03-14 17:56:42,5
19689,2016-03-26 14:58:36,Verkaufe_in_teilen_oder_ganz__hyundai_rd_coupe,privat,Angebot,$800,control,NaN,2005,NaN,0,...,"150,000km",0,NaN,hyundai,NaN,2016-03-26 00:00:00,0,27574,2016-04-04 02:18:24,5

#### 7. Đối với các features dạng numeric, fillna bởi giá trị median của feature đó. Còn đối với các features dạng categorical thì fillna bởi giá trị quan sát được nhiều nhất.

In [22]:
null_check = data.isnull().sum()
null_check

date_crawled                0
name                        0
seller                      0
offer_type                  0
price                       0
abtest                      0
vehicle_type             2022
year_of_registration        0
gearbox                  1068
power_p_s                   0
model                    1082
odometer                    0
month_of_registration       0
fuel_type                1725
brand                       0
not_repaired_damage      3897
date_created                0
nr_of_pictures              0
postal_code                 0
last_seen                   0
null_count                  0
dtype: int64

In [23]:
for i in null_check.index:
    if null_check[i] != 0:
        if data[i].dtypes != object:
            data[i].fillna(value = data[i].median(), inplace = True)
        else:
            data[i].fillna(value = data[i].value_counts().index[0],inplace = True)

In [24]:
data

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,year_of_registration,gearbox,power_p_s,...,odometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,nr_of_pictures,postal_code,last_seen,null_count
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,...,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54,0
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,...,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08,0
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,...,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37,0
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,...,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28,0
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,...,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19709,2016-03-28 19:48:19,Opel_Corsa_1.2_Selection_klima,privat,Angebot,"$9,900",control,kleinwagen,2015,manuell,69,...,"5,000km",11,benzin,opel,nein,2016-03-28 00:00:00,0,64560,2016-04-07 02:16:59,0
19710,2016-03-14 17:50:26,Audi_A4_B5_Bj_97,privat,Angebot,$900,test,limousine,1997,manuell,165,...,"150,000km",10,benzin,audi,nein,2016-03-14 00:00:00,0,57319,2016-03-16 08:45:11,0
19711,2016-03-15 19:57:28,BMW_520d_Touring,privat,Angebot,"$7,500",control,kombi,2008,manuell,177,...,"150,000km",11,diesel,bmw,nein,2016-03-15 00:00:00,0,45968,2016-03-16 17:51:27,0
19712,2016-03-28 17:37:45,Fiat_Grande_Punto_1.2_8V_Active,privat,Angebot,"$2,950",test,kleinwagen,2007,manuell,65,...,"80,000km",10,benzin,fiat,nein,2016-03-28 00:00:00,0,85391,2016-04-06 23:15:46,0
19713,2016-03-12 15:21:50,Fiat_Stilo_Unfallfahrzeug_Reserviert_bis_16.03,privat,Angebot,$200,control,kleinwagen,2002,manuell,103,...,"100,000km",1,benzin,fiat,ja,2016-03-11 00:00:00,0,57638,2,0

In [25]:
data.isnull().sum()

date_crawled             0
name                     0
seller                   0
offer_type               0
price                    0
abtest                   0
vehicle_type             0
year_of_registration     0
gearbox                  0
power_p_s                0
model                    0
odometer                 0
month_of_registration    0
fuel_type                0
brand                    0
not_repaired_damage      0
date_created             0
nr_of_pictures           0
postal_code              0
last_seen                0
null_count               0
dtype: int64

#8 which brand sell most (most number of ivoice)

In [41]:
invoice = data.groupby('brand').size().ascending
invoice
#pandas groupby count is by using the in-built pandas method named size().

brand
alfa_romeo         131
audi              1683
bmw               2101
chevrolet          122
chrysler            75
citroen            263
dacia               59
daewoo              30
daihatsu            54
fiat               538
ford              1343
honda              158
hyundai            184
jaguar              24
jeep                37
kia                143
lada                16
lancia              21
land_rover          45
mazda              312
mercedes_benz     1859
mini               174
mitsubishi         155
nissan             299
opel              2125
peugeot            602
porsche            116
renault            956
rover               25
saab                33
seat               364
skoda              298
smart              285
sonstige_autos     233
subaru              40
suzuki             104
toyota             238
trabant             30
volkswagen        4236
volvo              203
dtype: int64